*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("https://picsum.photos/id/877/1200/700") no-repeat center center/cover;
    color: #f6f4f7;
}

.form-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
}

/* form elemanlamanlarına flex uygulandı */
#survey-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: flex-start;
    width: 500px;
    height: 100%;
    border: 1px solid bisque;
    border-radius: 6px;
    background: transparent;
    backdrop-filter: blur(30px);
    padding: 30px;
    gap: 30px;
    overflow: hidden;
    color: #f6f4f7;

}

.social {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 30px;
    font-size: 20px;
}


.input-container{
    position: relative;

}

/*  positon absolute belirlenerek inputta istenilen pozisyona getirildi 
    ikon tıklama devredışı*/
.input-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
}

.input-container input{
    background: transparent;
    border-radius: 4px;
    border: 2px solid #f6f4f7;
    width: 100%;
    padding: 10px 10px 10px 30px;
    position: relative;
    outline: none;
    color: #f6f4f7;
    font-size: 20px;
}

/* positon absolute belirlenerek inputta istenilen pozisyona getirildi  */
.input-container .labell  {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    pointer-events: none; 
    transition: .5s;
    z-index: 1;
    font-size: 20px;
}

/* input tıklandığında ve dolu ike label hareket ettirildi */
.input-container .input:focus ~ .labell , 
.input-container input:not(:placeholder-shown) ~ .labell {
    top: -2px; 
    padding: 0 5px;
    color: #5c5a5a;
    background:#f6f4f7;
    backdrop-filter: blur(30px);
    border-left: 2px solid #f6f4f7;
    border-right: 2px solid #f6f4f7;
    z-index: 2;
}

/* select için background ve border düzenlendi */
.gender{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #f6f4f7;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #f6f4f7;
    font-size: 20px;
}

/* seçeneklere ait background düzenlendi */
option{
    background-color: #5c5a5a;
}



#suggestion{
    width: 100%;
    padding: 20px;
    background: transparent;
    color: #f6f4f7;
}



.button{
    display: flex;
    margin: auto;
}

.button button{
    width: 140px;
    padding: 5px;
    margin-bottom: 10px;
    color: #5c5a5a;
    background:transparent;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

/* imlec buton üstüne geldiğinde efekt eklendi */
.button button:hover{
    color:#f6f4f7;
    background-color:  #5c5a5a;
}